
ROLLBACK;
BEGIN TRANSACTION;

DELETE FROM county;

INSERT INTO county (state,county,population) VALUES('Alabama','Alabama','4779736');
INSERT INTO county (state,county,population) VALUES('Alabama','Autauga','54571');
INSERT INTO county (state,county,population) VALUES('Alabama','Baldwin','182265');

commit;

UPDATE county
SET statecode = vs.ansi
FROM (SELECT name, ansi FROM state)vs
WHERE county.state = vs.name;

SELECT * FROM county WHERE county = state;

DELETE FROM county WHERE county = state AND population > 1000000 AND state != 'New York';
DELETE FROM county WHERE population = 19378102;

SELECT * FROM county WHERE statecode is null;
