
UPDATE country SET population = ROUND(7794798.729) WHERE numeric = 900;

UPDATE country SET population = ROUND(1273304.261) WHERE numeric = 901;
UPDATE country SET population = ROUND(6521494.468) WHERE numeric = 902;
UPDATE country SET population = ROUND(1057438.163) WHERE numeric = 941;
UPDATE country SET population = ROUND(5464056.305) WHERE numeric = 934;
UPDATE country SET population = ROUND(5050207.589) WHERE numeric = 948;
UPDATE country SET population = ROUND(533143.398) WHERE numeric = 1636;
UPDATE country SET population = ROUND(72076.098) WHERE numeric = 1637;

UPDATE country SET population = ROUND(1263092.934) WHERE numeric = 1503;
UPDATE country SET population = ROUND(5753051.615) WHERE numeric = 1517;
UPDATE country SET population = ROUND(2654816.331) WHERE numeric = 1502;
UPDATE country SET population = ROUND(3098235.284) WHERE numeric = 1501;
UPDATE country SET population = ROUND(775710.612) WHERE numeric = 1500;
UPDATE country SET population = ROUND(2943.568) WHERE numeric = 1518;
UPDATE country SET population = ROUND(1340598.113) WHERE numeric = 903;
UPDATE country SET population = ROUND(4641054.786) WHERE numeric = 935;
UPDATE country SET population = ROUND(747636.045) WHERE numeric = 908;
UPDATE country SET population = ROUND(653962.332) WHERE numeric = 904;
UPDATE country SET population = ROUND(368869.644) WHERE numeric = 905;
UPDATE country SET population = ROUND(42677.809) WHERE numeric = 909;
UPDATE country SET population = ROUND(1094365.605) WHERE numeric = 947;
UPDATE country SET population = ROUND(445405.578) WHERE numeric = 910;
UPDATE country SET population = ROUND(11890.781) WHERE numeric = 108;
UPDATE country SET population = ROUND(869.595) WHERE numeric = 174;
UPDATE country SET population = ROUND(988.002) WHERE numeric = 262;
UPDATE country SET population = ROUND(3546.427) WHERE numeric = 232;
UPDATE country SET population = ROUND(114963.583) WHERE numeric = 231;
UPDATE country SET population = ROUND(53771.3) WHERE numeric = 404;
UPDATE country SET population = ROUND(27691.019) WHERE numeric = 450;
UPDATE country SET population = ROUND(19129.955) WHERE numeric = 454;
UPDATE country SET population = ROUND(1271.767) WHERE numeric = 480;
UPDATE country SET population = ROUND(272.813) WHERE numeric = 175;
UPDATE country SET population = ROUND(31255.435) WHERE numeric = 508;
UPDATE country SET population = ROUND(895.308) WHERE numeric = 638;
UPDATE country SET population = ROUND(12952.209) WHERE numeric = 646;
UPDATE country SET population = ROUND(98.34) WHERE numeric = 690;
UPDATE country SET population = ROUND(15893.219) WHERE numeric = 706;
UPDATE country SET population = ROUND(11193.729) WHERE numeric = 728;
UPDATE country SET population = ROUND(45741) WHERE numeric = 800;
UPDATE country SET population = ROUND(59734.213) WHERE numeric = 834;
UPDATE country SET population = ROUND(18383.956) WHERE numeric = 894;
UPDATE country SET population = ROUND(14862.927) WHERE numeric = 716;
UPDATE country SET population = ROUND(179595.125) WHERE numeric = 911;
UPDATE country SET population = ROUND(32866.268) WHERE numeric = 24;
UPDATE country SET population = ROUND(26545.864) WHERE numeric = 120;
UPDATE country SET population = ROUND(4829.764) WHERE numeric = 140;
UPDATE country SET population = ROUND(16425.859) WHERE numeric = 148;
UPDATE country SET population = ROUND(5518.092) WHERE numeric = 178;
UPDATE country SET population = ROUND(89561.404) WHERE numeric = 180;
UPDATE country SET population = ROUND(1402.985) WHERE numeric = 226;
UPDATE country SET population = ROUND(2225.728) WHERE numeric = 266;
UPDATE country SET population = ROUND(219.161) WHERE numeric = 678;
UPDATE country SET population = ROUND(67503.647) WHERE numeric = 913;
UPDATE country SET population = ROUND(2351.625) WHERE numeric = 72;
UPDATE country SET population = ROUND(1160.164) WHERE numeric = 748;
UPDATE country SET population = ROUND(2142.252) WHERE numeric = 426;
UPDATE country SET population = ROUND(2540.916) WHERE numeric = 516;
UPDATE country SET population = ROUND(59308.69) WHERE numeric = 710;
UPDATE country SET population = ROUND(401861.255) WHERE numeric = 914;
UPDATE country SET population = ROUND(12123.198) WHERE numeric = 204;
UPDATE country SET population = ROUND(20903.278) WHERE numeric = 854;
UPDATE country SET population = ROUND(555.988) WHERE numeric = 132;
UPDATE country SET population = ROUND(26378.275) WHERE numeric = 384;
UPDATE country SET population = ROUND(2416.664) WHERE numeric = 270;
UPDATE country SET population = ROUND(31072.945) WHERE numeric = 288;
UPDATE country SET population = ROUND(13132.792) WHERE numeric = 324;
UPDATE country SET population = ROUND(1967.998) WHERE numeric = 624;
UPDATE country SET population = ROUND(5057.677) WHERE numeric = 430;
UPDATE country SET population = ROUND(20250.834) WHERE numeric = 466;
UPDATE country SET population = ROUND(4649.66) WHERE numeric = 478;
UPDATE country SET population = ROUND(24206.636) WHERE numeric = 562;
UPDATE country SET population = ROUND(206139.587) WHERE numeric = 566;
UPDATE country SET population = ROUND(6.071) WHERE numeric = 654;
UPDATE country SET population = ROUND(16743.93) WHERE numeric = 686;
UPDATE country SET population = ROUND(7976.985) WHERE numeric = 694;
UPDATE country SET population = ROUND(8278.737) WHERE numeric = 768;
UPDATE country SET population = ROUND(525869.282) WHERE numeric = 1833;
UPDATE country SET population = ROUND(246232.508) WHERE numeric = 912;
UPDATE country SET population = ROUND(43851.043) WHERE numeric = 12;
UPDATE country SET population = ROUND(102334.403) WHERE numeric = 818;
UPDATE country SET population = ROUND(6871.287) WHERE numeric = 434;
UPDATE country SET population = ROUND(36910.558) WHERE numeric = 504;
UPDATE country SET population = ROUND(43849.269) WHERE numeric = 729;
UPDATE country SET population = ROUND(11818.618) WHERE numeric = 788;
UPDATE country SET population = ROUND(597.33) WHERE numeric = 732;
UPDATE country SET population = ROUND(279636.774) WHERE numeric = 922;
UPDATE country SET population = ROUND(2963.234) WHERE numeric = 51;
UPDATE country SET population = ROUND(10139.175) WHERE numeric = 31;
UPDATE country SET population = ROUND(1701.583) WHERE numeric = 48;
UPDATE country SET population = ROUND(1207.361) WHERE numeric = 196;
UPDATE country SET population = ROUND(3989.175) WHERE numeric = 268;
UPDATE country SET population = ROUND(40222.503) WHERE numeric = 368;
UPDATE country SET population = ROUND(8655.541) WHERE numeric = 376;
UPDATE country SET population = ROUND(10203.14) WHERE numeric = 400;
UPDATE country SET population = ROUND(4270.563) WHERE numeric = 414;
UPDATE country SET population = ROUND(6825.442) WHERE numeric = 422;
UPDATE country SET population = ROUND(5106.622) WHERE numeric = 512;
UPDATE country SET population = ROUND(2881.06) WHERE numeric = 634;
UPDATE country SET population = ROUND(34813.867) WHERE numeric = 682;
UPDATE country SET population = ROUND(5101.416) WHERE numeric = 275;
UPDATE country SET population = ROUND(17500.657) WHERE numeric = 760;
UPDATE country SET population = ROUND(84339.067) WHERE numeric = 792;
UPDATE country SET population = ROUND(9890.4) WHERE numeric = 784;
UPDATE country SET population = ROUND(29825.968) WHERE numeric = 887;
UPDATE country SET population = ROUND(2014708.531) WHERE numeric = 921;
UPDATE country SET population = ROUND(74338.926) WHERE numeric = 5500;
UPDATE country SET population = ROUND(18776.707) WHERE numeric = 398;
UPDATE country SET population = ROUND(6524.191) WHERE numeric = 417;
UPDATE country SET population = ROUND(9537.642) WHERE numeric = 762;
UPDATE country SET population = ROUND(6031.187) WHERE numeric = 795;
UPDATE country SET population = ROUND(33469.199) WHERE numeric = 860;
UPDATE country SET population = ROUND(1940369.605) WHERE numeric = 5501;
UPDATE country SET population = ROUND(38928.341) WHERE numeric = 4;
UPDATE country SET population = ROUND(164689.383) WHERE numeric = 50;
UPDATE country SET population = ROUND(771.612) WHERE numeric = 64;
UPDATE country SET population = ROUND(1380004.385) WHERE numeric = 356;
UPDATE country SET population = ROUND(83992.953) WHERE numeric = 364;
UPDATE country SET population = ROUND(540.542) WHERE numeric = 462;
UPDATE country SET population = ROUND(29136.808) WHERE numeric = 524;
UPDATE country SET population = ROUND(220892.331) WHERE numeric = 586;
UPDATE country SET population = ROUND(21413.25) WHERE numeric = 144;
UPDATE country SET population = ROUND(2346709.481) WHERE numeric = 1832;
UPDATE country SET population = ROUND(1678089.627) WHERE numeric = 906;
UPDATE country SET population = ROUND(1439323.774) WHERE numeric = 156;
UPDATE country SET population = ROUND(7496.988) WHERE numeric = 344;
UPDATE country SET population = ROUND(649.342) WHERE numeric = 446;
UPDATE country SET population = ROUND(23816.775) WHERE numeric = 158;
UPDATE country SET population = ROUND(25778.815) WHERE numeric = 408;
UPDATE country SET population = ROUND(126476.458) WHERE numeric = 392;
UPDATE country SET population = ROUND(3278.292) WHERE numeric = 496;
UPDATE country SET population = ROUND(51269.183) WHERE numeric = 410;
UPDATE country SET population = ROUND(668619.854) WHERE numeric = 920;
UPDATE country SET population = ROUND(437.483) WHERE numeric = 96;
UPDATE country SET population = ROUND(16718.971) WHERE numeric = 116;
UPDATE country SET population = ROUND(273523.621) WHERE numeric = 360;
UPDATE country SET population = ROUND(7275.556) WHERE numeric = 418;
UPDATE country SET population = ROUND(32365.998) WHERE numeric = 458;
UPDATE country SET population = ROUND(54409.794) WHERE numeric = 104;
UPDATE country SET population = ROUND(109581.085) WHERE numeric = 608;
UPDATE country SET population = ROUND(5850.343) WHERE numeric = 702;
UPDATE country SET population = ROUND(69799.978) WHERE numeric = 764;
UPDATE country SET population = ROUND(1318.442) WHERE numeric = 626;
UPDATE country SET population = ROUND(97338.583) WHERE numeric = 704;
UPDATE country SET population = ROUND(653962.332) WHERE numeric = 1830;
UPDATE country SET population = ROUND(43532.374) WHERE numeric = 915;
UPDATE country SET population = ROUND(15.002) WHERE numeric = 660;
UPDATE country SET population = ROUND(97.928) WHERE numeric = 28;
UPDATE country SET population = ROUND(106.766) WHERE numeric = 533;
UPDATE country SET population = ROUND(393.248) WHERE numeric = 44;
UPDATE country SET population = ROUND(287.371) WHERE numeric = 52;
UPDATE country SET population = ROUND(26.221) WHERE numeric = 535;
UPDATE country SET population = ROUND(30.237) WHERE numeric = 92;
UPDATE country SET population = ROUND(65.72) WHERE numeric = 136;
UPDATE country SET population = ROUND(11326.616) WHERE numeric = 192;
UPDATE country SET population = ROUND(164.1) WHERE numeric = 531;
UPDATE country SET population = ROUND(71.991) WHERE numeric = 212;
UPDATE country SET population = ROUND(10847.904) WHERE numeric = 214;
UPDATE country SET population = ROUND(112.519) WHERE numeric = 308;
UPDATE country SET population = ROUND(400.127) WHERE numeric = 312;
UPDATE country SET population = ROUND(11402.533) WHERE numeric = 332;
UPDATE country SET population = ROUND(2961.161) WHERE numeric = 388;
UPDATE country SET population = ROUND(375.265) WHERE numeric = 474;
UPDATE country SET population = ROUND(4.999) WHERE numeric = 500;
UPDATE country SET population = ROUND(2860.84) WHERE numeric = 630;
UPDATE country SET population = ROUND(9.885) WHERE numeric = 652;
UPDATE country SET population = ROUND(53.192) WHERE numeric = 659;
UPDATE country SET population = ROUND(183.629) WHERE numeric = 662;
UPDATE country SET population = ROUND(38.659) WHERE numeric = 663;
UPDATE country SET population = ROUND(110.947) WHERE numeric = 670;
UPDATE country SET population = ROUND(42.882) WHERE numeric = 534;
UPDATE country SET population = ROUND(1399.491) WHERE numeric = 780;
UPDATE country SET population = ROUND(38.718) WHERE numeric = 796;
UPDATE country SET population = ROUND(104.423) WHERE numeric = 850;
UPDATE country SET population = ROUND(179670.186) WHERE numeric = 916;
UPDATE country SET population = ROUND(397.621) WHERE numeric = 84;
UPDATE country SET population = ROUND(5094.114) WHERE numeric = 188;
UPDATE country SET population = ROUND(6486.201) WHERE numeric = 222;
UPDATE country SET population = ROUND(17915.567) WHERE numeric = 320;
UPDATE country SET population = ROUND(9904.608) WHERE numeric = 340;
UPDATE country SET population = ROUND(128932.753) WHERE numeric = 484;
UPDATE country SET population = ROUND(6624.554) WHERE numeric = 558;
UPDATE country SET population = ROUND(4314.768) WHERE numeric = 591;
UPDATE country SET population = ROUND(430759.772) WHERE numeric = 931;
UPDATE country SET population = ROUND(45195.777) WHERE numeric = 32;
UPDATE country SET population = ROUND(11673.029) WHERE numeric = 68;
UPDATE country SET population = ROUND(212559.409) WHERE numeric = 76;
UPDATE country SET population = ROUND(19116.209) WHERE numeric = 152;
UPDATE country SET population = ROUND(50882.884) WHERE numeric = 170;
UPDATE country SET population = ROUND(17643.06) WHERE numeric = 218;
UPDATE country SET population = ROUND(3.483) WHERE numeric = 238;
UPDATE country SET population = ROUND(298.682) WHERE numeric = 254;
UPDATE country SET population = ROUND(786.559) WHERE numeric = 328;
UPDATE country SET population = ROUND(7132.53) WHERE numeric = 600;
UPDATE country SET population = ROUND(32971.846) WHERE numeric = 604;
UPDATE country SET population = ROUND(586.634) WHERE numeric = 740;
UPDATE country SET population = ROUND(3473.727) WHERE numeric = 858;
UPDATE country SET population = ROUND(28435.943) WHERE numeric = 862;
UPDATE country SET population = ROUND(30322.114) WHERE numeric = 927;
UPDATE country SET population = ROUND(25499.881) WHERE numeric = 36;
UPDATE country SET population = ROUND(4822.233) WHERE numeric = 554;
UPDATE country SET population = ROUND(12355.695) WHERE numeric = 1835;
UPDATE country SET population = ROUND(11122.99) WHERE numeric = 928;
UPDATE country SET population = ROUND(896.444) WHERE numeric = 242;
UPDATE country SET population = ROUND(285.491) WHERE numeric = 540;
UPDATE country SET population = ROUND(8947.027) WHERE numeric = 598;
UPDATE country SET population = ROUND(686.878) WHERE numeric = 90;
UPDATE country SET population = ROUND(307.15) WHERE numeric = 548;
UPDATE country SET population = ROUND(548.927) WHERE numeric = 954;
UPDATE country SET population = ROUND(168.783) WHERE numeric = 316;
UPDATE country SET population = ROUND(119.446) WHERE numeric = 296;
UPDATE country SET population = ROUND(59.194) WHERE numeric = 584;
UPDATE country SET population = ROUND(115.021) WHERE numeric = 583;
UPDATE country SET population = ROUND(10.834) WHERE numeric = 520;
UPDATE country SET population = ROUND(57.557) WHERE numeric = 580;
UPDATE country SET population = ROUND(18.092) WHERE numeric = 585;
UPDATE country SET population = ROUND(683.778) WHERE numeric = 957;
UPDATE country SET population = ROUND(55.197) WHERE numeric = 16;
UPDATE country SET population = ROUND(17.564) WHERE numeric = 184;
UPDATE country SET population = ROUND(280.904) WHERE numeric = 258;
UPDATE country SET population = ROUND(1.618) WHERE numeric = 570;
UPDATE country SET population = ROUND(198.41) WHERE numeric = 882;
UPDATE country SET population = ROUND(1.35) WHERE numeric = 772;
UPDATE country SET population = ROUND(105.697) WHERE numeric = 776;
UPDATE country SET population = ROUND(11.792) WHERE numeric = 798;
UPDATE country SET population = ROUND(11.246) WHERE numeric = 876;
UPDATE country SET population = ROUND(1116505.689) WHERE numeric = 1829;
UPDATE country SET population = ROUND(747636.045) WHERE numeric = 917;
UPDATE country SET population = ROUND(293013.21) WHERE numeric = 923;
UPDATE country SET population = ROUND(9449.321) WHERE numeric = 112;
UPDATE country SET population = ROUND(6948.445) WHERE numeric = 100;
UPDATE country SET population = ROUND(10708.982) WHERE numeric = 203;
UPDATE country SET population = ROUND(9660.35) WHERE numeric = 348;
UPDATE country SET population = ROUND(37846.605) WHERE numeric = 616;
UPDATE country SET population = ROUND(4033.963) WHERE numeric = 498;
UPDATE country SET population = ROUND(19237.682) WHERE numeric = 642;
UPDATE country SET population = ROUND(145934.46) WHERE numeric = 643;
UPDATE country SET population = ROUND(5459.643) WHERE numeric = 703;
UPDATE country SET population = ROUND(43733.759) WHERE numeric = 804;
UPDATE country SET population = ROUND(106261.271) WHERE numeric = 924;
UPDATE country SET population = ROUND(173.859) WHERE numeric = 830;
UPDATE country SET population = ROUND(5792.203) WHERE numeric = 208;
UPDATE country SET population = ROUND(1326.539) WHERE numeric = 233;
UPDATE country SET population = ROUND(48.865) WHERE numeric = 234;
UPDATE country SET population = ROUND(5540.718) WHERE numeric = 246;
UPDATE country SET population = ROUND(341.25) WHERE numeric = 352;
UPDATE country SET population = ROUND(4937.796) WHERE numeric = 372;
UPDATE country SET population = ROUND(85.032) WHERE numeric = 833;
UPDATE country SET population = ROUND(1886.202) WHERE numeric = 428;
UPDATE country SET population = ROUND(2722.291) WHERE numeric = 440;
UPDATE country SET population = ROUND(5421.242) WHERE numeric = 578;
UPDATE country SET population = ROUND(10099.27) WHERE numeric = 752;
UPDATE country SET population = ROUND(67886.004) WHERE numeric = 826;
UPDATE country SET population = ROUND(152215.243) WHERE numeric = 925;
UPDATE country SET population = ROUND(2877.8) WHERE numeric = 8;
UPDATE country SET population = ROUND(77.265) WHERE numeric = 20;
UPDATE country SET population = ROUND(3280.815) WHERE numeric = 70;
UPDATE country SET population = ROUND(4105.268) WHERE numeric = 191;
UPDATE country SET population = ROUND(33.691) WHERE numeric = 292;
UPDATE country SET population = ROUND(10423.056) WHERE numeric = 300;
UPDATE country SET population = ROUND(0.809) WHERE numeric = 336;
UPDATE country SET population = ROUND(60461.828) WHERE numeric = 380;
UPDATE country SET population = ROUND(441.539) WHERE numeric = 470;
UPDATE country SET population = ROUND(628.062) WHERE numeric = 499;
UPDATE country SET population = ROUND(2083.38) WHERE numeric = 807;
UPDATE country SET population = ROUND(10196.707) WHERE numeric = 620;
UPDATE country SET population = ROUND(33.938) WHERE numeric = 674;
UPDATE country SET population = ROUND(8737.37) WHERE numeric = 688;
UPDATE country SET population = ROUND(2078.932) WHERE numeric = 705;
UPDATE country SET population = ROUND(46754.783) WHERE numeric = 724;
UPDATE country SET population = ROUND(196146.321) WHERE numeric = 926;
UPDATE country SET population = ROUND(9006.4) WHERE numeric = 40;
UPDATE country SET population = ROUND(11589.616) WHERE numeric = 56;
UPDATE country SET population = ROUND(65273.512) WHERE numeric = 250;
UPDATE country SET population = ROUND(83783.945) WHERE numeric = 276;
UPDATE country SET population = ROUND(38.137) WHERE numeric = 438;
UPDATE country SET population = ROUND(625.976) WHERE numeric = 442;
UPDATE country SET population = ROUND(39.244) WHERE numeric = 492;
UPDATE country SET population = ROUND(17134.873) WHERE numeric = 528;
UPDATE country SET population = ROUND(8654.618) WHERE numeric = 756;
UPDATE country SET population = ROUND(368869.644) WHERE numeric = 918;
UPDATE country SET population = ROUND(62.273) WHERE numeric = 60;
UPDATE country SET population = ROUND(37742.157) WHERE numeric = 124;
UPDATE country SET population = ROUND(56.772) WHERE numeric = 304;
UPDATE country SET population = ROUND(5.795) WHERE numeric = 666;
UPDATE country SET population = ROUND(331002.647) WHERE numeric = 840;
