UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '8' WHERE countrycode = 'ALB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '12' WHERE countrycode = 'DZA';
UPDATE covid.country SET numeric = '16' WHERE countrycode = 'ASM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '20' WHERE countrycode = 'AND';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '24' WHERE countrycode = 'AGO';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '660' WHERE countrycode = 'AIA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '10' WHERE countrycode = 'ATA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '28' WHERE countrycode = 'ATG';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '32' WHERE countrycode = 'ARG';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '51' WHERE countrycode = 'ARM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '533' WHERE countrycode = 'ABW';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '36' WHERE countrycode = 'AUS';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '40' WHERE countrycode = 'AUT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '31' WHERE countrycode = 'AZE';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '44' WHERE countrycode = 'BHS';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '48' WHERE countrycode = 'BHR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '50' WHERE countrycode = 'BGD';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '52' WHERE countrycode = 'BRB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '112' WHERE countrycode = 'BLR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '56' WHERE countrycode = 'BEL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '84' WHERE countrycode = 'BLZ';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '204' WHERE countrycode = 'BEN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '60' WHERE countrycode = 'BMU';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '64' WHERE countrycode = 'BTN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '68' WHERE countrycode = 'BOL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '535' WHERE countrycode = 'BES';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '70' WHERE countrycode = 'BIH';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '72' WHERE countrycode = 'BWA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '74' WHERE countrycode = 'BVT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '76' WHERE countrycode = 'BRA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '86' WHERE countrycode = 'IOT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '96' WHERE countrycode = 'BRN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '100' WHERE countrycode = 'BGR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '854' WHERE countrycode = 'BFA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '108' WHERE countrycode = 'BDI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '132' WHERE countrycode = 'CPV';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '116' WHERE countrycode = 'KHM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '120' WHERE countrycode = 'CMR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '124' WHERE countrycode = 'CAN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '136' WHERE countrycode = 'CYM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '140' WHERE countrycode = 'CAF';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '148' WHERE countrycode = 'TCD';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '152' WHERE countrycode = 'CHL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '156' WHERE countrycode = 'CHN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '162' WHERE countrycode = 'CXR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '166' WHERE countrycode = 'CCK';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '170' WHERE countrycode = 'COL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '174' WHERE countrycode = 'COM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '180' WHERE countrycode = 'COD';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '178' WHERE countrycode = 'COG';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '184' WHERE countrycode = 'COK';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '188' WHERE countrycode = 'CRI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '191' WHERE countrycode = 'HRV';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '192' WHERE countrycode = 'CUB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '531' WHERE countrycode = 'CUW';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '196' WHERE countrycode = 'CYP';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '203' WHERE countrycode = 'CZE';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '384' WHERE countrycode = 'CIV';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '208' WHERE countrycode = 'DNK';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '262' WHERE countrycode = 'DJI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '212' WHERE countrycode = 'DMA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '214' WHERE countrycode = 'DOM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '218' WHERE countrycode = 'ECU';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '818' WHERE countrycode = 'EGY';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '222' WHERE countrycode = 'SLV';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '226' WHERE countrycode = 'GNQ';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '232' WHERE countrycode = 'ERI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '233' WHERE countrycode = 'EST';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '748' WHERE countrycode = 'SWZ';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '231' WHERE countrycode = 'ETH';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '238' WHERE countrycode = 'FLK';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '234' WHERE countrycode = 'FRO';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '242' WHERE countrycode = 'FJI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '246' WHERE countrycode = 'FIN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '250' WHERE countrycode = 'FRA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '254' WHERE countrycode = 'GUF';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '258' WHERE countrycode = 'PYF';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '260' WHERE countrycode = 'ATF';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '266' WHERE countrycode = 'GAB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '270' WHERE countrycode = 'GMB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '268' WHERE countrycode = 'GEO';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '276' WHERE countrycode = 'DEU';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '288' WHERE countrycode = 'GHA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '292' WHERE countrycode = 'GIB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '300' WHERE countrycode = 'GRC';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '304' WHERE countrycode = 'GRL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '308' WHERE countrycode = 'GRD';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '312' WHERE countrycode = 'GLP';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '316' WHERE countrycode = 'GUM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '320' WHERE countrycode = 'GTM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '831' WHERE countrycode = 'GGY';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '324' WHERE countrycode = 'GIN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '624' WHERE countrycode = 'GNB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '328' WHERE countrycode = 'GUY';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '332' WHERE countrycode = 'HTI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '334' WHERE countrycode = 'HMD';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '336' WHERE countrycode = 'VAT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '340' WHERE countrycode = 'HND';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '344' WHERE countrycode = 'HKG';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '348' WHERE countrycode = 'HUN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '352' WHERE countrycode = 'ISL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '356' WHERE countrycode = 'IND';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '360' WHERE countrycode = 'IDN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '364' WHERE countrycode = 'IRN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '368' WHERE countrycode = 'IRQ';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '372' WHERE countrycode = 'IRL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '833' WHERE countrycode = 'IMN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '376' WHERE countrycode = 'ISR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '380' WHERE countrycode = 'ITA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '388' WHERE countrycode = 'JAM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '392' WHERE countrycode = 'JPN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '832' WHERE countrycode = 'JEY';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '400' WHERE countrycode = 'JOR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '398' WHERE countrycode = 'KAZ';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '404' WHERE countrycode = 'KEN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '296' WHERE countrycode = 'KIR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '408' WHERE countrycode = 'PRK';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '410' WHERE countrycode = 'KOR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '414' WHERE countrycode = 'KWT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '417' WHERE countrycode = 'KGZ';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '418' WHERE countrycode = 'LAO';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '428' WHERE countrycode = 'LVA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '422' WHERE countrycode = 'LBN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '426' WHERE countrycode = 'LSO';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '430' WHERE countrycode = 'LBR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '434' WHERE countrycode = 'LBY';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '438' WHERE countrycode = 'LIE';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '440' WHERE countrycode = 'LTU';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '442' WHERE countrycode = 'LUX';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '446' WHERE countrycode = 'MAC';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '450' WHERE countrycode = 'MDG';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '454' WHERE countrycode = 'MWI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '458' WHERE countrycode = 'MYS';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '462' WHERE countrycode = 'MDV';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '466' WHERE countrycode = 'MLI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '470' WHERE countrycode = 'MLT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '584' WHERE countrycode = 'MHL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '474' WHERE countrycode = 'MTQ';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '478' WHERE countrycode = 'MRT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '480' WHERE countrycode = 'MUS';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '175' WHERE countrycode = 'MYT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '484' WHERE countrycode = 'MEX';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '583' WHERE countrycode = 'FSM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '498' WHERE countrycode = 'MDA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '492' WHERE countrycode = 'MCO';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '496' WHERE countrycode = 'MNG';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '499' WHERE countrycode = 'MNE';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '500' WHERE countrycode = 'MSR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '504' WHERE countrycode = 'MAR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '508' WHERE countrycode = 'MOZ';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '104' WHERE countrycode = 'MMR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '516' WHERE countrycode = 'NAM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '520' WHERE countrycode = 'NRU';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '524' WHERE countrycode = 'NPL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '528' WHERE countrycode = 'NLD';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '540' WHERE countrycode = 'NCL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '554' WHERE countrycode = 'NZL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '558' WHERE countrycode = 'NIC';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '562' WHERE countrycode = 'NER';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '566' WHERE countrycode = 'NGA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '570' WHERE countrycode = 'NIU';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '574' WHERE countrycode = 'NFK';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '807' WHERE countrycode = 'MKD';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '580' WHERE countrycode = 'MNP';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '578' WHERE countrycode = 'NOR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '512' WHERE countrycode = 'OMN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '586' WHERE countrycode = 'PAK';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '585' WHERE countrycode = 'PLW';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '275' WHERE countrycode = 'PSE';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '591' WHERE countrycode = 'PAN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '598' WHERE countrycode = 'PNG';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '600' WHERE countrycode = 'PRY';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '604' WHERE countrycode = 'PER';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '608' WHERE countrycode = 'PHL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '612' WHERE countrycode = 'PCN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '616' WHERE countrycode = 'POL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '620' WHERE countrycode = 'PRT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '630' WHERE countrycode = 'PRI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '634' WHERE countrycode = 'QAT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '642' WHERE countrycode = 'ROU';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '643' WHERE countrycode = 'RUS';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '646' WHERE countrycode = 'RWA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '638' WHERE countrycode = 'REU';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '652' WHERE countrycode = 'BLM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '654' WHERE countrycode = 'SHN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '659' WHERE countrycode = 'KNA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '662' WHERE countrycode = 'LCA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '663' WHERE countrycode = 'MAF';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '666' WHERE countrycode = 'SPM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '670' WHERE countrycode = 'VCT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '882' WHERE countrycode = 'WSM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '674' WHERE countrycode = 'SMR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '678' WHERE countrycode = 'STP';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '682' WHERE countrycode = 'SAU';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '686' WHERE countrycode = 'SEN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '688' WHERE countrycode = 'SRB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '690' WHERE countrycode = 'SYC';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '694' WHERE countrycode = 'SLE';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '702' WHERE countrycode = 'SGP';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '534' WHERE countrycode = 'SXM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '703' WHERE countrycode = 'SVK';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '705' WHERE countrycode = 'SVN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '90' WHERE countrycode = 'SLB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '706' WHERE countrycode = 'SOM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '710' WHERE countrycode = 'ZAF';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '239' WHERE countrycode = 'SGS';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '728' WHERE countrycode = 'SSD';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '724' WHERE countrycode = 'ESP';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '144' WHERE countrycode = 'LKA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '729' WHERE countrycode = 'SDN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '740' WHERE countrycode = 'SUR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '744' WHERE countrycode = 'SJM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '752' WHERE countrycode = 'SWE';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '756' WHERE countrycode = 'CHE';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '760' WHERE countrycode = 'SYR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '158' WHERE countrycode = 'TWN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '762' WHERE countrycode = 'TJK';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '834' WHERE countrycode = 'TZA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '764' WHERE countrycode = 'THA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '626' WHERE countrycode = 'TLS';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '768' WHERE countrycode = 'TGO';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '772' WHERE countrycode = 'TKL';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '776' WHERE countrycode = 'TON';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '780' WHERE countrycode = 'TTO';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '788' WHERE countrycode = 'TUN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '792' WHERE countrycode = 'TUR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '795' WHERE countrycode = 'TKM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '796' WHERE countrycode = 'TCA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '798' WHERE countrycode = 'TUV';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '800' WHERE countrycode = 'UGA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '804' WHERE countrycode = 'UKR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '784' WHERE countrycode = 'ARE';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '826' WHERE countrycode = 'GBR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '581' WHERE countrycode = 'UMI';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '840' WHERE countrycode = 'USA';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '858' WHERE countrycode = 'URY';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '860' WHERE countrycode = 'UZB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '548' WHERE countrycode = 'VUT';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '862' WHERE countrycode = 'VEN';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '704' WHERE countrycode = 'VNM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '92' WHERE countrycode = 'VGB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '850' WHERE countrycode = 'VIR';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '876' WHERE countrycode = 'WLF';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '732' WHERE countrycode = 'ESH';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '887' WHERE countrycode = 'YEM';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '894' WHERE countrycode = 'ZMB';
UPDATE covid.country SET numeric = null WHERE countrycode = null;
UPDATE covid.country SET numeric = '716' WHERE countrycode = 'ZWE';
