
-- Create and load country table
/*
CREATE TABLE covid.country (
  countrycode VARCHAR(3),
  region VARCHAR(128),
  incomelevel VARCHAR(128),
  name VARCHAR(128)
)
WITH (oids = false);
*/

delete from country;

rollback;
begin transaction;
-- commit;
INSERT INTO country VALUES('AFG','South Asia','Low income','Afghanistan');
INSERT INTO country VALUES('AGO','Sub-Saharan Africa','Lower middle income','Angola');
INSERT INTO country VALUES('ALB','Europe & Central Asia','Upper middle income','Albania');
)