{{> _include/header }}
  <link href="app/covid/dist/dev/js/covid.dev.js" rel="preload" as="script">
    <noscript>
      <strong>We're sorry but covid-19 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <a href="/cvd/retrieveData">Data update</a>
    <div id="app"></div>
    <!-- built files will be auto injected -->
{{> _include/footer }}
<script type="text/javascript" src="app/covid/dist/dev/js/covid.dev.js"></script>