<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="app/covid/dist/dev/favicon.ico">
    <title>covid-19</title>
    
    <linkx rel="stylesheet" href="/js/vendor/bootstrap/bootstrap.min.css"/>
    <linkx rel="stylesheet" href="/js/vendor/bootstrap/bootstrap-grid.min.css"/>
    <style>

</style>
   </head>
<body>
<div style="width:100%; display:block;">
			<ul class="nav header-navbar-nav pull-xs-left">
				<li class="nav-item"><a class="nav-link" href="/home">Netazoic covid.vue</a></li>
			 	<li class="nav-item"><a class="nav-link" href="/cvd/retrieveData">Data update</a></li>
			</ul>
</div>


